<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory Management</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Inventory Management</h1>
    <% if (typeof flashMessage !== 'undefined') { %>
        <div class="flash-message"><%= flashMessage %></div>
    <% } %>
    <ul>
        <li><a href="/inv/add-classification">Add New Classification</a></li>
        <li><a href="/inv/add-inventory">Add New Inventory</a></li>
    </ul>
    <h2>Manage Inventory</h2>
<p>Select a classification to see the items belonging to that classification.</p>
<form>
  <%= classificationSelect %>
</form>
<table id="inventoryDisplay"></table>
<noscript>JavaScript must be enabled to use this page.</noscript>
</body>
<script src="../../js/inventory.js"></script>
</html>