<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/styles.css" media="screen">
    <title>CSE Motors</title>
</head>
<body>
    <h1>CSE Motors</h1>
    <%- include ('../partials/header') %>
    <%- include('../partials/navigation') %>

    <h2>Welcome to CSE Motors!</h2>
    <div class="delorean">
        <img src="/public/images/vehicles/delorean.jpg" alt="DMC Delorean">
        <p>DMC Delorean</p>
        <ul>
            <li>3 Cup holders</li>
            <li>Superman doors</li>
            <li>Fuzzy dice!</li>
        </ul>
    </div>

    <%- include('../partials/footer') %>
    <script></script>
</body>
</html>